.container{
    display:flex;
    justify-content: center;
}

.child1{

    background-image: linear-gradient(to bottom, #92adff, #7391ff, #5c71ff, #524cff, #5800ff);
    border-radius: 9%;
    width: 600px;
    height: 75vh;
    color: white;
    text-align: center;
}

.child2{
    flex-direction: column;
    width: 100%;
    padding:10px;
    
}

.child3{
    display: flex;
    flex-direction: column;
    text-align:center;
    padding: 10px;
    height: 270px;
    justify-content:space-around;
    word-spacing: 15px;
}

.c1{
    background-image: linear-gradient(to top, #92adff, #7391ff, #5c71ff, #524cff, #5800ff);
    border-radius: 100%;
    width: 150px;
    height: 150px;
    margin-left: 140px;
    margin-top: 60px;
    font-size:35px;
   justify-content: center;
}

p{
    margin-top: 10px;
    font-size: x-large;
    font-style: normal;
}

#id1{
    padding-left: 10px;
    font-size: x-large;
}

#id2{
    margin-top: 30px;
}


